#title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}


.nav-items > ul {
  list-style-type: none;
  display:  flex;
}

.nav-items >ul > li {
  padding: 10px;
}